#sidebar-workspaces a {
	color: #fff;
}

#sidebar-workspaces ul {
	padding: 20px;
}

#sidebar-workspaces .workspace {
	padding: 8px 10px;
	border-bottom: solid 1px #666;
	background: #444;
	margin-bottom: 5px;
}

#sidebar {
	position: fixed;
	width: 300px;
	background: #333;
	height: 100%;
	top: 0px;
}

#sidebar footer {
	position: absolute;
	bottom: 0px;
}

#sidebar footer a {
	color: #fff;
}

#sidebar .sidebar-profile {
	padding: 20px;
	border-bottom: solid 2px #555;
}

#sidebar .profile-name {
	color: #fff;
	font-weight: bold;
}

#sidebar .profile-image {
	float: left;
	width: 70px;
	height: 70px;
	border: solid 3px #2AA876;
	margin-right: 10px;
}

#topbar {
}

#topbar ul {
	text-align: right;
}

#topbar li {
	display: inline-block;
}