#sidebar {
	position: absolute;
	width: 300px;
	background: #333;
	height: 100%;
}

#sidebar footer {
	position: absolute;
	bottom: 0px;
}

#sidebar footer a {
	color: #fff;
}

#topbar {
	padding-left: 300px;
}