.button {
	padding: 8px 11px;
	display: inline-block;
	color: #222;
	border-radius: 5px;
	border: solid 1px #ddd;
	background-color: #eeeeee;
	font-weight: bold;
	background-image: -moz-linear-gradient(#fcfcfc, #eee);
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
}

.button:hover {
	text-decoration: none;
}

.button.button-primary {
	background: #2AA876;
	color: #fff;
	border: solid 1px #2AA876;
}