body {
	font-family: "Open Sans", "Arial";
	font-size: 14px;
}

#template-wrapper {
	padding-left: 300px;
	margin: 0 auto;

}

.wrapper {
	background: #fff;
	padding: 20px;
	border-top: solid 5px #2AA876;
	margin-top: 30px;
}