body {
	font-family: "Open Sans", "Arial";
	font-size: 14px;
	background: #eee;
}

#template-wrapper {
	width: 1000px;
	padding-left: 300px;
	margin: 0 auto;

}

.wrapper {
	background: #fff;
	padding: 20px;
}