#header {

}

#header h1 {
	float: left;
	font-size: 26px;
}

#header nav {
	text-align: right;
}

#header nav ul {
	margin-bottom: 0px;
}

#header nav ul li {
	display: inline-block;
	padding: 27px 12px 25px 12px;
}

#main-wrapper {
	background: #333;
	color: #fff;
	padding: 200px 0px;
}

#main-wrapper h1 {
	font-size: 80px;
}